.signup_main_container,
.login_main_container {
  background-image: url("/collection/bg_pattern.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.user_input_container {
  background: rgba(19, 73, 109, 0.75);
}

.user_guide_container {
  background: rgba(216, 237, 255, 0.685);
}

.form_Input {
  color: aliceblue !important;
}

.back_to_login_btn {
  background: transparent;
  color: aliceblue;
  transition: 0.3s;
  padding: 5px;
  border-radius: 4px;
}

.back_to_login_btn:hover {
  background: rgb(52, 193, 248);
  color: rgb(19, 65, 102);
}
